body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h2 {
    color: #333;
}

form {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.message {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.message.success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}

.message.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}




/* Estilos para el panel deslizante del carrito */
#cart-panel {
    position: fixed;
    top: 0;
    right: -100%;
    width: 350px;
    height: 100%;
    background-color: #1f2937; /* bg-gray-800 */
    transition: right 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

#cart-panel.open {
    right: 0;
}

/* Botón de cerrar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
}

/* Estilo del carrito */
#cart-items-panel {
    flex-grow: 1;
    overflow-y: auto;
}

.cart-footer {
    padding: 10px;
    background-color: #111827; /* bg-gray-900 */
}
