<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce - Productos Electrónicos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>
<body class="bg-gray-900 text-white">
    <header class="text-center py-5">
        <div class="header-content max-w-7xl mx-auto flex justify-between items-center">
            <h1 class="text-3xl font-bold">Ecommerce</h1>
            <div class="user-actions">
                {{if .IsAuthenticated}}
                    <p>Bienvenido, {{.Username}}</p>
                    <a href="/logout"><button class="btn bg-green-500 text-white py-2 px-4 rounded-lg">Sign Out</button></a>
                {{else}}
                    <a href="/login"><button class="btn bg-green-500 text-white py-2 px-4 rounded-lg">Sign In</button></a>
                {{end}}
            </div>
        </div>
    </header>
    
    <main class="max-w-7xl mx-auto px-4 py-6">
        <div class="search-bar mb-6">
            <input 
                hx-get="/products/search" 
                hx-trigger="input changed delay:500ms" 
                hx-target="#product-list" 
                hx-swap="innerHTML transition:true"  
                name="search" 
                type="search" 
                id="search-input" 
                placeholder="Buscar productos electrónicos..." 
                class="search-input w-full bg-gray-800 text-white p-3 rounded-lg border border-gray-700 focus:outline-none focus:border-green-500"
            />
        </div>
        
        
        <div id="product-list" class="product-grid" hx-get="/products" hx-trigger="load" hx-swap="innerHTML">
            <!-- Aquí se cargarán los productos dinámicamente -->
        </div>
    </main>
</body>
</html>
