<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script> <!-- Incluimos HTMX -->
</head>
<body>
    <h1>Bienvenido a la Tienda de Electrónicos</h1>
    <form hx-get="/" hx-target="#product-list" hx-trigger="input changed delay:500ms">
        <input type="text" name="search" placeholder="Buscar productos...">
    </form>
    <hr>
    <div id="product-list">
        {{ if .Products }}
            <ul>
                {{ range .Products }}
                    <li>
                        <img src="{{ .ImageURL }}" alt="{{ .Name }}" style="width:100px;height:100px;">
                        <h2>{{ .Name }}</h2>
                        <p>{{ .Description }}</p>
                        <strong>${{ .Price }}</strong>
                    </li>
                {{ end }}
            </ul>
        {{ else }}
            <p>No se encontraron productos.</p>
        {{ end }}
    </div>
</body>
</html>
