<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>

<body class="bg-gray-900 text-white">
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-gray-800 p-12 rounded-lg shadow-lg max-w-lg w-full">
            <h2 class="text-3xl font-bold mb-8 text-center">Iniciar Sesión</h2>
            <form 
            hx-post="/login" 
            hx-target="#message-container" 
            hx-swap="innerHTML"
            hx-push-url="true"
            >
                <div class="mb-6">
                    <label for="username" class="block text-lg font-medium">Usuario:</label>
                    <input type="text" id="username" name="username" required class="w-full p-4 bg-gray-700 rounded-lg border border-gray-600 focus:outline-none focus:border-green-500">
                </div>

                <div class="mb-8">
                    <label for="password" class="block text-lg font-medium">Contraseña:</label>
                    <input type="password" id="password" name="password" required class="w-full p-4 bg-gray-700 rounded-lg border border-gray-600 focus:outline-none focus:border-green-500">
                </div>

                <button type="submit" class="w-full bg-green-500 text-white py-3 px-4 rounded-lg text-lg transition-colors duration-300 hover:bg-green-600">
                    Iniciar Sesión
                </button>
            </form>

            <div id="message-container" class="mt-6">
                <!-- Aquí aparecerán los mensajes después de la autenticación -->
            </div>

            <div class="mt-6 text-center">
                <p>¿No tienes una cuenta? <a href="/register" class="text-green-400 hover:text-green-500">Regístrate aquí</a></p>
            </div>
        </div>
    </div>
</body>

</html>
